@* Asignado es para decirle que es fuertemente tipado como esta en el modelo *@
@model ObjetoEscuelaBase 

@* Vista o componente reutilizable *@
<p>
    Nombre: @Model.Nombre <br/>
    Id: @Model.UniqueId
</p>