@* Escuela es para decirle que es fuertemente tipado como esta en el modelo *@
@model Escuela 

@{ 
    @* Codigo Csharp *@
    @* Es debil mente tipado y este segmento de código se conoce como razor syntaz*@
    ViewData["Title"] = "Información de Escuela";
    Layout = "_Layout";
}

<h1>Escuela</h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año de Fundación: </strong>@Model.AnnioFundacion</p>