@model List<Asignatura>

@{ 
    @* Codigo Csharp *@
    @* Es debil mente tipado y este segmento de código se conoce como razor syntax*@
    ViewData["Title"] = "Información de Asignatura";

    @* Nombre de la plantilla o template *@
    Layout = "Simple";
    @* Layout = "_Layout"; *@
}

<br><br><br>
<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial o componente a reutilizar</strong>

@foreach (Asignatura asignatura in Model)
{
    @* model="asignatura" *@
    <partial name="ObjetoEscuelaSimple" model="asignatura" />
}

<partial name="ListaObjetosEscuelaSimple" />

@* Mandar informacion a la vista *@
<p><i>@ViewBag.Fecha</i></p>
